.welcomeContent {
  /* display: flex; */
  /* gap: 20rem; */
  text-align: center;
  /* align-items: center; */
  color: #ece1fa;
}

.welcomeContentText {
  margin: 10%;
  font-size: 2rem;
  font-family: cursive;
}
  
  